* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form--unhidden {
  display: block;
}
.form--hidden {
  display: none;
}
label,
input {
  display: block;
}



.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

[data-slides] {
  display: flex;
  list-style: none;
}

.slide {
  min-width: 100%;
  display: none; 
}

.slide[data-active] {
  display: block; 
}

